USE [master]
GO
/****** Object:  Database [Karaoke]    Script Date: 09-12-2022 11:10:37 AM ******/
CREATE DATABASE [Karaoke]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Karaoke', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Karaoke.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Karaoke_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Karaoke_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karaoke].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karaoke]
GO
/****** Object:  Table [dbo].[Chi_tiet_hoa_don]    Script Date: 09-12-2022 11:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_hoa_don](
	[STT_chi_tiet] [int] IDENTITY(1,1) NOT NULL,
	[ID_hoa_don] [int] NOT NULL,
	[ID_san_pham] [int] NOT NULL,
	[So_luong] [int] NOT NULL,
 CONSTRAINT [PK_Chi_tiet_hoa_don] PRIMARY KEY CLUSTERED 
(
	[STT_chi_tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_don]    Script Date: 09-12-2022 11:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_don](
	[ID_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ID_nguoi_dat] [int] NOT NULL,
	[Thoi_gian_hat] [time](7) NOT NULL,
	[ID_phong_hat] [int] NOT NULL,
	[Tinh_trang_hoa_don] [bit] NOT NULL,
	[Tong_hoa_don] [int] NULL,
	[Ngay_lap_HD] [date] NULL,
 CONSTRAINT [PK_Hoa_don] PRIMARY KEY CLUSTERED 
(
	[ID_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_SP]    Script Date: 09-12-2022 11:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_SP](
	[ID_loai_sp] [int] IDENTITY(1,1) NOT NULL,
	[Ten_loai_sp] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Loai_SP] PRIMARY KEY CLUSTERED 
(
	[ID_loai_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_hat]    Script Date: 09-12-2022 11:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_hat](
	[ID_phong_hat] [int] IDENTITY(1,1) NOT NULL,
	[Ten_phong_hat] [nvarchar](50) NOT NULL,
	[Gia_tien] [int] NOT NULL,
	[Tinh_trang] [bit] NOT NULL,
 CONSTRAINT [PK_Phong_hat] PRIMARY KEY CLUSTERED 
(
	[ID_phong_hat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_pham]    Script Date: 09-12-2022 11:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_pham](
	[ID_san_pham] [int] IDENTITY(1,1) NOT NULL,
	[Ten_san_pham] [nvarchar](max) NOT NULL,
	[ID_loai_sp] [int] NOT NULL,
	[Gia_tien] [int] NOT NULL,
	[So_luong] [int] NOT NULL,
 CONSTRAINT [PK_San_pham] PRIMARY KEY CLUSTERED 
(
	[ID_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_khoan]    Script Date: 09-12-2022 11:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_khoan](
	[ID_Tai_khoan] [int] IDENTITY(1,1) NOT NULL,
	[Ten_dang_nhap] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](50) NOT NULL,
	[ten_nhan_vien] [nvarchar](max) NOT NULL,
	[loai_tai_khoan] [bit] NOT NULL,
 CONSTRAINT [PK_Tai_khoan] PRIMARY KEY CLUSTERED 
(
	[ID_Tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
